package main

import (
	"log"
	"os"
  "{{ .GlobalConfig.GetConfigImportPath }}"
  "{{ .GlobalConfig.GetAppImportPath }}"
  "{{ .GlobalConfig.GetBaseCommandImportPath }}"
)

func main() {
	log.SetOutput(os.Stdout)
	command := cmd.New{{ .GetCobraFunctionCommandName }}Cmd(config.NewCommandConfig())
	if err := {{ .GetAppModule }}.Run(command); err != nil {
		os.Exit(1)
	}
	os.Exit(0)
}
